{% extends "base.html" %}
<head>
 {% block head %}<link rel="stylesheet" href="./../../static/create_tab.css">
 <link rel="stylesheet" href="./../../static/index.css">
 {% endblock %}
</head>

{% block body %}

<div class="leftNavigation bg-info" >
  <link rel="stylesheet" href="./../static/index.css">
  <h2>todolist</h2>
  <div class="btn-nav">
      <a class="config " href="{{ url_for('user_detail', user_id = session['user_id']) }}">
          <img src="./../../static/img/icon.png" width="70" height="70">
      </a>
      <a href="/todo/create_tab" class="tab">
          <img src="./../../static/img/tab.png" width="70" height="60">
      </a>
      <a class="calendar" href="/todo/calendar">
          <img src="./../../static/img/calendar.png" width="70" height="60">
      <a  class="logout" href="/logout">
          <img src="./../../static/img/Logout.png" width="70" height="60">
      </a>
  </div>
</div>
<div class="detail-all" >
  <div class="detail">
    <h2 style="color:#95ccff;">ユーザー登録情報</h2>
    <h4 style="margin-right:20% ; margin-top: 20%;">ユーザー名：{{ user.name }}</h3>
    <div class="detail-in">
      <div>
        <div style="margin-top: 8%;margin-right:10% ;" class='detail-mail'>メールアドレス：{{ user.email }}</div>
      </div>

      <div >
        <ul >
          <li class="detail-edit" style="display: inline; margin-right: 5%;"><a href="{{ url_for('user_edit', user_id=user.id) }}">edit</a></li>
          <li class="detail-delete" style="display: inline;"><a class="user-delete-link" href="#" data-delete-url="{{ url_for('user_delete', user_id=user.id) }}">delete</a></li>
        </ul>
      </div>
    </div>  
    <!-- <a class="btn btn-warning" href="/todo"  >todo</a> -->
  </div>
  <a href="/todo" class="home">
    <img src="./../../static/img/home.png" width="70" height="70">
</div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(function() {
    $(".user-delete-link").on("click", function() {
      var delete_url = $(this).attr('data-delete-url');
      $.ajax({
        url: delete_url,
        type: 'DELETE',
        success: function(response) {
          if (response.status == 'OK') {
            window.location = '{{ url_for('user_list') }}';
          } else {
            alert('Delete failed.')
          }
        }
      });
      return false;
    });
  });
</script>

{% endblock body %}